<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ASE BarPlanner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <script th:src="@{/main.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body ng-app="DrinkManagement" ng-controller="DrinkController">
<h1>
    ASE BarPlanner
</h1>

<h2>Add Drink</h2>
<form ng-submit="addDrink()">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="drinkForm.title" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" ng-model="drinkForm.price" /></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="text" ng-model="drinkForm.amount"  /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add drink" class="create-button" />
            </td>
        </tr>
    </table>
</form>
<br>
<h2>View Drinks</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <!-- $scope.employees -->
    <tr ng-repeat="drink in drinks">
        <td> {{ drink.title }}</td>
        <td> {{ drink.price }}</td>
        <td >{{ drink.amount }}</td>
        <td>
            <a ng-click="editDrink(drink)" class="edit-button">Edit</a>
        </td>
        <td>
            <a ng-click="deleteDrink(drink.title)" class="delete-button">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>